*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}
#trail{
    border: 20px solid yellowgreen;
}
body{
    background: radial-gradient(hsl(214, 47%, 29%), hsl(237, 49%, 15%)) ;
    font-family: 'Barlow Semi Condensed';
    color: white;
    font-size: 16px;
}
h1{
    font-size: 24px;
}
.winner{
    font-size: 24px;
    font-weight: 700;
    background: silver;
    color: red;
    text-align: center;
}
.scoreBoard{
    display: flex;
    width: min-content;
    max-width: 100%;
    /* width: 50%; */
    border: 2px white solid;
    border-radius: 11px;
    justify-content: space-between;
    align-items: center;
    padding: 11px;
    margin: 30px auto;
}
.scores{
    display: flex;
    flex-direction: row;
}
.score{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 72px;
    background: white;
    color: black;
    justify-content: center;
    margin: auto 10px;
}
#box1{
    margin: auto;
    width: max-content;
    max-width: 100vw;
    align-items: center;
    /* padding: 48px; */
    margin-top: 48px;
    padding-left: 250px;
}
.unshow{
    display: none;
}
.show{
    display: block;
}
#box2{
    width: 50%;
    margin: auto;
    justify-content: space-around;
    text-align: center;
    display: flex;
}

#playAgain{
    margin: 24px auto;
    width: 100%;
    font-size: 16px;
    padding: 10px 48px;
}
.choice_rock{
    border: 10px solid red;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-size: auto;
    background-position: center;
    background-color: white;
    background-image: url('./images/icon-rock.svg');
    background-repeat: no-repeat ;
}
.choice_paper{
    border: 10px solid lightblue;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-size: auto;
    background-position: center;
    background-color: white;
    background-image: url('./images/icon-paper.svg');
    background-repeat: no-repeat ;
}
.choice_scissors{
    border: 10px solid yellow;
    border-radius: 100%;
    height: 100px;
    width: 100px;
    background-size: auto;
    background-position: center;
    background-color: white;
    background-image: url('./images/icon-scissors.svg');
    background-repeat: no-repeat ;
}
#rockBtn{
    position: relative;
    right: 210px;
}
#paperBtn{
    position: relative;
    bottom: 250px;
    right: 450px;
}
#scissorsBtn{
    position: relative;
    bottom: 250px;
    right: 260px;
}
#result{
    margin: 12px auto;
    font-size: 24px;
    text-align: center;
    color: rgb(106, 230, 187);
}
#rulesBtn{
    border: 1px solid white;
    color: white;
    width: max-content;
    margin: auto 40%;
    background: none;
    border-radius: 8px;
    padding: 3px;
    /* position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 11px; */
}
#rulesPic{
    color: black;
    z-index: 1;
    position: absolute;
    border: 1px solid lightcyan;
    top: 16vh;
    left: 37.5vw;
    background: white;
    padding: 2%;
    border-radius: 11px;
}
.rulesHeader{
    margin: 12px 18px 36px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:400px) {
    .scoreBoard{
        width: 100%;
        border: none;
    }
    #box1{
        margin: 86px auto 0px;
        width: 100%;
        padding: 0%;
        padding-left: 5%;
    }
    #rockBtn{
        right: -100px;
        bottom: 50px;
    }
    #paperBtn{
        right: -140px;
        bottom: 340px;
    }
    #scissorsBtn{
        bottom: 340px;
        right: 220px;
    }
    #rulesBtn{
        position: absolute;
        left: 0;
        bottom: auto;
    }
    #rulesPic{
        top: 10%;
        left: 10%;
    }
}
/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1366px

## Colors

### Primary

- Scissors Gradient: hsl(39, 89%, 49%) to hsl(40, 84%, 53%)
- Paper Gradient: hsl(230, 89%, 62%) to hsl(230, 89%, 65%)
- Rock Gradient: hsl(349, 71%, 52%) to hsl(349, 70%, 56%)
- Lizard Gradient: hsl(261, 73%, 60%) to hsl(261, 72%, 63%)
- Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%)

### Neutral

- Dark Text: hsl(229, 25%, 31%)
- Score Text: hsl(229, 64%, 46%)
- Header Outline: hsl(217, 16%, 45%)

### Background

- Radial Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%

## Fonts

- Family: [Barlow Semi Condensed](https://fonts.google.com/specimen/Barlow+Semi+Condensed)
- Weights: 600, 700 */
